# --- CONEXIÓN REMOTA A LA BASE DE DATOS MySQL ---
DB_HOST=192.168.1.103 # IP del servidor remoto
DB_PORT=3306             # O el puerto de tu DB (Postgres/MySQL)
DB_USER=root
DB_PASS=ServBay.dev
DB_NAME=tudexgames


