# --- CONEXIÓN REMOTA A LA BASE DE DATOS MySQL ---
DB_HOST=140.238.181.138 # IP del servidor remoto
DB_PORT=5432             # O el puerto de tu DB (Postgres/MySQL)
DB_USER=admin
DB_PASS=password_seguro
DB_NAME=tudexgames