# Node/Nuxt modules
node_modules/
.nuxt/
.output/
dist/

# Development configurations
.env
.DS_Store

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database dump files
*.sql
*.sqlite
!tudexgames.sql.gz

# Nuxt devtools
.nuxt-devtools/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/.nuxt
.nuxt/manifest/latest.json
tsconfig.json
\ncoverage/
\nauto-imports.d.ts
coverage
.nuxt/
.nuxtrc
auto-imports.d.ts
.nuxt/
